In [3]:
from selenium import webdriver
import pandas as pd
import time
from selenium.webdriver.chrome.options import Options

In [1]:
chromedriver_location = "C:/SigmaAI/chromedriver_win32/chromedriver.exe"

In [4]:
driver = webdriver.Chrome(chromedriver_location)

C:\Users\madej\AppData\Local\Temp\ipykernel_7364\2255847859.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(chromedriver_location)

In [5]:
driver.get(f'https://borneowanaindo.com/?page_id=376')

In [6]:
df = pd.DataFrame()

In [28]:
tables = []
i = 0
while True:
    try:
        table = pd.read_html(driver.page_source)[i]
        tables.append(table)
        i += 1
    except:
        break

df = pd.concat(tables)

In [29]:
df

,0,1,2,3,4
0,NO.,AUDITEE,JUMLAH PERMOHONAN DOK. V-LEGAL,HASIL VERIFIKASI,NaN
1,NaN,NaN,JUMLAH MEMENUHI,JUMLAH TIDAK MEMENUHI,NaN
2,1.,NIHIL,–,–,–
0,NO.,AUDITEE,JUMLAH PERMOHONAN DOK. V-LEGAL,HASIL VERIFIKASI,NaN
1,JUMLAH MEMENUHI,JUMLAH TIDAK MEMENUHI,NaN,NaN,NaN
...,...,...,...,...,...
3,3,PT Taiyoung Engreen,32,32,–
4,4,PT Sumber Mandiri Ababdi,7,7,–
5,5,PT Nagabhuana Aneka Piranti,8,8,–
6,6,PT Panca Aras Akselerasi Tov,1,1,–
7,7,CV Sayap Rajawali Perkasa,2,2,NaN

In [36]:
df_total = pd.DataFrame()
df_total['Auditi'] = df.iloc[:,1]
df_total['Jumlah Permohonan'] = df.iloc[:,2]
df_total['Verifikasi Memenuhi'] = df.iloc[:,3]

In [39]:
# grouping by company name and sum the results
grouped_df = df_total.groupby('Auditi').sum()

#print the result
print(grouped_df)

                                                                    Jumlah Permohonan  \
Auditi
AUDITEE                             JUMLAH PERMOHONAN DOK. V-LEGALJUMLAH PERMOHONA...
Auditi                              Jumlah PermohonanJumlah PermohonanJumlah Permo...
CV SAYAP RAJAWALI PERKASA                                                           1
CV SINAR BORNEO ABADI                                                             574
CV Sayap Rajawali Perkasa                                                       11122
CV Sinar Borneo Abadi                                                       487611610
CV Sumber Mandiri ABadi                                                             4
CV Sumber Mandiri Abadi                                                           136
JUMLAH TIDAK MEMENUHI                                                               0
NIHIL                                                                               –
PT DASA INTIGA                                                                    463
PT GEMILANG ALAM SEKAYAM                                                   1551653111
PT KARANGAN USAHA SEJAHTERA                                                   2316112
PT NAGABHUANA ANEKA PIRANTI                                                    212214
PT Nagabhuana Aneka Piranti                                                       148
PT Nagahbuana Aneka Piranti                                                        21
PT OBOR GREEN ENERGY TECHNOLOGY                                                   135
PT Obor Green Energy Technology                                                  2352
PT PANCA ARAS AKSELERASI TOV                                                   129122
PT Panca Aras Akselerasi Tov                                                  1221411
PT Sumber Mandiri Ababdi                                                            7
PT TAIYOUNG ENGREEN                                             111218141423251071915
PT Taiyoung Engreen                                                     9171915261632
PT Tulen Jayamas Timber Industries                                               1666

                                                                  Verifikasi Memenuhi
Auditi
AUDITEE                             HASIL VERIFIKASIHASIL VERIFIKASIHASIL VERIFIKA...
Auditi                              Verifikasi MemenuhiVerifikasi MemenuhiVerifika...
CV SAYAP RAJAWALI PERKASA                                                           1
CV SINAR BORNEO ABADI                                                             574
CV Sayap Rajawali Perkasa                                                       11122
CV Sinar Borneo Abadi                                                       487611610
CV Sumber Mandiri ABadi                                                             4
CV Sumber Mandiri Abadi                                                           136
JUMLAH TIDAK MEMENUHI                                                               0
NIHIL                                                                               –
PT DASA INTIGA                                                                    463
PT GEMILANG ALAM SEKAYAM                                                   1551653111
PT KARANGAN USAHA SEJAHTERA                                                   2316112
PT NAGABHUANA ANEKA PIRANTI                                                    212214
PT Nagabhuana Aneka Piranti                                                       148
PT Nagahbuana Aneka Piranti                                                        21
PT OBOR GREEN ENERGY TECHNOLOGY                                                   135
PT Obor Green Energy Technology                                                  2352
PT PANCA ARAS AKSELERASI TOV                                                   129122
PT Panca Aras Akselerasi Tov                                                  1121411
PT Sumber Mandiri Ababdi                                                            7
PT TAIYOUNG ENGREEN                                             111218141423251071915
PT Taiyoung Engreen                                                     9171915261632
PT Tulen Jayamas Timber Industries                                               1666

In [ ]:
# Save the dataframe to an Excel file
df.to_excel('PT._Borneo_Wanajaya_Indonesia(SVLK)Exporters_Kayu_KalTeng.xlsx', index=False)